{{ define "content" }}
<form class="space-y-4 items-center" hx-post="/message/decrypt" hx-swap="outerHTML">
    <div class=" mb-4">
        <label for="password" class="block font-medium text-gray-300">Password</label>
        <input id="password" type="password" name="password"
            class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300 transition" />
    </div>
    <div class="hidden">
        <input id="path" name="path" value="{{.Values.path}}" />
    </div>
    <div class="flex flex-col items-center">
        <button type="submit"
            class="px-4 w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 transition">Decrypt</button>
    </div>
    {{ if .Errors.password }}
    <div class="mb-4 font-medium text-red-300 text-center">
        {{ .Errors.password }}
    </div>
    {{ end }}
</form>
{{ end }}
