{{ define "content" }}
<form class="space-y-4 items-center" hx-post="/message" hx-swap="outerHTML"
    hx-include="[name='burnAfterReading'],[name='encrypt']">
    <!-- Note Content -->
    <div class=" mb-4">
        <label for="body" class="block font-medium text-gray-300">Message</label>
        <textarea id="body" name="body" rows="4"
            class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300 transition">{{.Values.body}}</textarea>
    </div>


    <div class="flex flex-col md:flex-row items-center">
        <div class="w-1/2">
            <!-- Destroy Once Read Checkbox -->
            <div class="mb-4 flex flex-col items-center">
                <label for="burnAfterReadingToggle" class="text-gray-300 mb-2">Destroy on read</label>
                <label for="burnAfterReadingToggle" class="cursor-pointer select-none mb-2">
                    <div class="relative">
                        <input name="burnAfterReading" id="burnAfterReadingToggle" type="checkbox" class="peer sr-only"
                            {{ if or (eq .Values.burnAfterReading "off" ) (eq .Values.burnAfterReading "" ) }} {{ else
                            }} checked {{ end }} />
                        <div class="h-5 rounded-full shadow-inner bg-white w-14"></div>
                        <div
                            class="absolute left-0 transition bg-red-600 rounded-full dot shadow-switch-1 -top-1 h-7 w-7 peer-checked:translate-x-full peer-checked:bg-green-500">
                        </div>
                    </div>
                </label>

            </div>

            <!-- Expiry Dropdown -->
            <div class="mb-4 flex flex-col items-center">
                <label for="expiry" class="block font-medium text-gray-300 mb-2">Auto-Destruct In</label>
                <select id="expiry" name="expiry"
                    class="mt-1 p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 transition">
                    {{ if .Values.expiry }}{{ DestroyInDropdown .Values.expiry }}{{ else }}{{ DestroyInDropdown "" }}{{
                    end }}
                </select>
            </div>
        </div>
        <div class="w-1/2">
            <!-- Password Box -->
            <div class="mb-4 flex flex-col items-center peer">
                <label for="encrypt" class="text-gray-300 mb-2">Encrypt</label>
                <label for="encrypt" class="cursor-pointer select-none mb-2">
                    <div class="relative">
                        <input id="encrypt" name="encrypt" type="checkbox" class="peer sr-only" {{ if eq
                            .Values.encrypted "on" }} checked {{ else }}{{ end }} />
                        <div class="h-5 rounded-full shadow-inner bg-white w-14"></div>
                        <div
                            class="absolute left-0 transition bg-red-600 rounded-full dot shadow-switch-1 -top-1 h-7 w-7 peer-checked:translate-x-full peer-checked:bg-green-500">
                        </div>

                    </div>
                </label>
            </div>
            <div
                class="mb-4 flex flex-col items-center md:invisible max-md:hidden  md:peer-has-[:checked]:visible max-md:peer-has-[:checked]:flex">
                <label for="password" class="font-medium flex flex-col items-center text-gray-300 mb-2">Password</label>
                <input type="password" id="password" name="password"
                    class="mt-1 p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 transition" />
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center">
        <button type="submit"
            class="px-4 w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 transition">Generate
            Link</button>
    </div>
    {{ if .Errors.submission }}
    <div class="mb-4 font-medium text-red-300 text-center">
        {{ .Errors.submission }}
    </div>
    {{ end }}

</form>
{{ end }}
