{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
    <title>SELFDESTRUCT</title>
</head>

<body class="bg-gradient-to-b from-gray-700 to-black text-gray-800 min-h-screen p-8">
    <div class="max-w-screen-sm	 mx-auto p-8 mt-4">
        <img class="text-white text-2xl font-semibold mb-4 text-center" hx-get="/" hx-select="#page-content"
            hx-target="#page-content" hx-push-url="true" src="bomb_logo.svg" alt="SelfDestruct.zip">
        <div id="page-content">
            {{ template "content" . }}
        </div>
    </div>
</body>

</html>
{{ end }}
