{{ define "content" }}
<div class=" mb-4">
    <textarea id="body" name="body" rows="4" class="mt-1 p-2 w-full border rounded-md focus:outline-none" readonly>{{
        .Body }}</textarea>
</div>
{{ end }}
